{% extends "html/html_struct.html" %}
{% load crispy_forms_tags %}
{% load crud_helpers %}

{% block content %}
<!-- igs_app_base/html/form.html start block content -->
<!--
forms = {
    'top': [{'title':'XXXX', 'form': form_object}, ...],
    'left': [...],
    'right': [...],
    'bottom': [...],
}

-->

<form method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
    {% csrf_token %}

    <div class="row">
        <div class="col-sm-8" id="forms-top-pre">
            {% block forms_top_pre %}{% endblock %}
        </div>
    </div>
    {% if forms.top %}
    <div class="row" id="forms-top">
        <div class="col-sm-8">
            <!-- forms.Top -->
            {% for form_obj in forms.top %}
                {% if form_obj.title %}<h5>{{ form_obj.title }}</h5>{% endif %}
                {% crispy form_obj.form %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-8" id="forms-top-post">
            {% block forms_top_post %}{% endblock %}
        </div>
    </div>

    <div class="row" id="forms-middle">

        <div class="col-sm-4" id="forms-left">
            <div id="forms-middle-left-pre">
                {% block forms_middle_left_pre %}{% endblock %}
            </div>
            {% if forms.left %}
                <!-- forms.left -->
                {% for form_obj in forms.left %}
                    {% if form_obj.title %}<h5>{{ form_obj.title }}</h5>{% endif %}
                    {% crispy form_obj.form %}
                {% endfor %}
            {% endif %}
            <div id="forms-middle-left-post">
                {% block forms_middle_left_post %}{% endblock %}
            </div>
        </div>

        <div class="col-sm-4" id="forms-right">
            <div id="forms-middle-right-pre">
                {% block forms_middle_right_pre %}{% endblock %}
            </div>
            {% if forms.right %}
                <!-- forms.right -->
                {% for form_obj in forms.right %}
                    {% if form_obj.title %}<h5>{{ form_obj.title }}</h5>{% endif %}
                    {% crispy form_obj.form %}
                {% endfor %}
            {% endif %}
            <div id="forms-middle-right-post">
                {% block forms_middle_right_post %}{% endblock %}
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-8" id="forms-bottom-pre">
            {% block forms_bottom_pre %}{% endblock %}
        </div>
    </div>
    {% if forms.bottom %}
    <div class="row">
        <div class="col-sm-8" id="forms-bottom">
            <!-- forms.bottom -->
            {% for form_obj in forms.bottom %}
                {% if form_obj.title %}<h5>{{ form_obj.title }}</h5>{% endif %}
                {% crispy form_obj.form %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-8" id="forms-bottom-post">
            {% block forms_bottom_post %}{% endblock %}
        </div>
    </div>

    {% if not without_btn_save %}
    <div class="row" id="forms-submit">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-outline-secondary" id="btn-save" title="{% action_label 'save' %}">
                {% action_icon 'save' %}
            </button>
        </div>
    </div>
    {% endif %}
</form>
<!-- igs_app_base/html/form.html end block content -->
{% endblock %}
