<!-- igs_app_base/html/toolbar.html start -->
<!--
toolbar = [
    {'type': 'rlink',       'label': 'Etiqueta',    'title': 'Titulo', 'url': 'http://...'},
    {'type': 'link',        'label': 'Etiqueta',    'title': 'Titulo', 'view': 'NombreVista'},
    {'type': 'link_pk',     'label': 'Etiqueta',    'title': 'Titulo', 'view': 'NombreVista',  pk: 'Valor'},
    {'type': 'link_pk_del', 'label': 'Etiqueta',    'title': 'Titulo', 'view': 'NombreVista',  pk: 'Valor'},
    {'type': 'button',      'label': 'Etiqueta',    'title': 'Titulo', 'onclick': 'CodigoJS'},
    {'type': 'search'},
]
-->

<div id="main-toolbar" class="btn-toolbar mb-4" role="toolbar">
    <div class="btn-group" role="group">
    {% for item in toolbar %}
        {% if 'rlink' == item.type %}
            <a href="{{ item.url }}" class="btn btn-outline-secondary" {% if item.title %}title="{{ item.title }}"{% endif %}>
                {{ item.label | safe }}
            </a>
        {% elif 'link' == item.type %}
            <a href="{% url item.view %}" class="btn btn-outline-secondary" {% if item.title %}title="{{ item.title }}"{% endif %}>
                {{ item.label | safe }}
            </a>
        {% elif 'link_pk' == item.type %}
            <a href="{% url item.view pk=item.pk %}" class="btn btn-outline-secondary" {% if item.title %}title="{{ item.title }}"{% endif %}>
                {{ item.label | safe }}
            </a>
        {% elif 'link_pk_del' == item.type %}
            <a href="#" onclick="showDeletingConfirmation(`{% url item.view pk=item.pk %}`)" class="btn btn-outline-secondary" {% if item.title %}title="{{ item.title }}"{% endif %}>
                {{ item.label | safe }}
            </a>
        {% elif 'button' == item.type %}
            <button type="button" class="btn btn-outline-secondary" onclick="{{ item.onclick }}" {% if item.title %}title="{{ item.title }}"{% endif %}>
                {{ item.label | safe }}
            </button>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Tipo de item no implementado: {{ item }}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
<!-- igs_app_base/html/toolbar.html end -->
