{% extends "html/html_struct.html" %}
{% load crispy_forms_tags %}
{% load parametro_helpers %}

{% block unauthenticated %}
    <div class="body-container text-center">
    <form class="form-signin" method="post" autocomplete="off" enctype="multipart/form-data" id="main-form" action="">
        {% csrf_token %}
        <img src="{{ MEDIA_URL }}{% parametro_de_sistema seccion='FormAcceso' nombre='main_logo' %}" class="mb-4" height="72" />
        <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesión</h1>
        <!-- html/messages.html BEGIN (2) -->
        {% include "html/messages.html" %}
        <!-- html/messages.html END (2) -->
        {{ form | crispy }}
        <button type="submit" class="btn btn-secondary btn-block" id="btn-login" title="Entrar">
            Entrar
        </button>
    </form>
</div>
{% endblock %}
