{% load static %}
{% if type == 'css' %}
    {% for app in apps %}
        <link rel="stylesheet" href="{% static 'css' %}/{{app}}.css" /><!-- Auto CSS -->
    {% endfor %}
{% elif type == 'js' %}
    {% for app in apps %}
        <script type="text/javascript" src="{% static 'js' %}/{{app}}.js"></script><!-- Auto JS -->
    {% endfor %}
{% else %}
    <div class="alert alert-danger" role="alert"><!-- igs_app_base/html/helpers/app_internal_link.html  -->
        Tipo de inclusión de archivos no implementado: {{ type }}
    </div>
{% endif %}
